<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_support">

  <xacro:macro name="arm_support" params="package parent *origin">
    <xacro:property name="prefix" value="arm_support"/>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/arm_support.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>
    
    <link name="arm_mount"/>
    <joint name="arm_mount_joint" type="fixed">
      <origin xyz="0 0 0.008" rpy="0 0 0" />
      <parent link="${prefix}_link"/>
      <child link="arm_mount"/>
    </joint>

  </xacro:macro>

</robot>