<?xml version="1.0"?>
<launch>

  <!-- Robot Description -->
  <arg name="dk_tf_prefix" default="dk_"/>
  <arg name="model" default="$(find xacro)/xacro --inorder $(find iqr_scout_description)/urdf/iqr_scout_robot.urdf.xacro"/>
  <param name="robot_description" command="$(arg model) dk_tf_prefix:=$(arg dk_tf_prefix)"/>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- scout 2.0 -->
  <include file="$(find scout_base)/launch/base.launch">
    <arg name="pub_description" value="false"/>
  </include>

  <!-- AUBO i5 -->


  <!-- VLP16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" default="192.168.3.7"/>
    <arg name="frame_id" default="velodyne"/>
    <arg name="max_range" default="100.0"/>
    <arg name="rpm" default="600"/>
  </include>

  <!-- Kinect DK -->
  <include file="$(find iqr_scout_bringup)/launch/include/kinect_dk.launch.xml">
  </include>

  <!-- realsense d435i -->
  <!-- <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
    <arg name="tf_prefix"             value="camera"/>
    <arg name="initial_reset"         value="false"/>
    <arg name="enable_sync"           value="true"/>
    <arg name="align_depth"           value="true"/>
    <arg name="enable_pointcloud"     value="true"/>
  </include> -->

  <!-- robotiq 85 gripper -->
  <!-- <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
    <param name="num_grippers" value="1"/>
    <param name="comport" value="/dev/gripper_com"/>
    <param name="baud" value="115200"/>
    <param name="prefix" value=""/>
  </node> -->

</launch>